// ======================================
//  Variables
// ======================================

// Colors
$color-primary: #58e1c1; // blue-reensish
$color-primary-light: lighten($color-primary, 10%);
$color-default: #51ddfc; 


$color-text: #343434;
// Fonts

// Breakpoints
$breakpoints: (
 'med': 768px,
  'lg': 992px
);
